* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
  display:flex;
  flex-flow: column nowrap;
  gap: 32px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  flex-flow: column nowrap;
  gap: 8px;
  flex:1;
}

.title {
  flex: 1;
  padding: 16px;
  font-size: 48px;
}

.nav {
  gap: 8px;
}

.navbtn {
  font-size: 24px;
  background-color: darkslategray;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 16px;
  user-select: none;
}

.navbtn:hover {
  filter:brightness(150%)
}

.navbtn:active {
  filter:blur(1px);
}




.main {
  flex-flow: column nowrap;
  gap: 32px;
}

.main-top {
  flex-flow:column nowrap;
  gap: 8px;
  flex: 1 1 50%;
  max-width: 600px;
  min-width: fit-content;
}

.scoreboard {
  font-size: 32px;
  text-align: center;
  flex-flow: column nowrap;
}

.main-top-info {
  justify-content: space-around;
  gap:8px;
  font-size: 192px;
  width: 100%;
}

.score span {
  font-size: 192px;
  min-height: 192px;
  min-width: 192px;
}

.score-mid {
  font-size: 32px;
}

.main-mid {
  flex-flow: column nowrap;
  gap: 24px;
}

.main-mid > div {
  gap: 32px;
}

.btn-choice {
  border-radius: 32px;
  border: 0px solid black;
  font-size: 48px;
  min-width: 64px;
  min-height: 64px;
}

.main-mid button span {
  color: black;
}

.main-mid button:hover span {
  color: darkslategray;
}

.main-mid button:active span {
  color: #003200;
}

.tbl-results {
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  border-spacing: 0px;
  min-width: 160px;
  line-height: 32px;
}


.win , .loss , .tie  {
  min-height: 32px;
  min-width: 32px;
  border-radius: 16px;
  border: 0px solid black;
}

.win span, .loss span, .tie span {
  color:black;
  font-size: 24px;
}

.win {
  background-color: green;
}

.loss {
  background-color: red;
}

.tie {
  background-color: yellow;
}